# POSTGRES_URL="postgres://default:GFMt8l3mNgZb@ep-yellow-wood-17532154-pooler.us-east-1.postgres.vercel-storage.com:5432/verceldb"
# POSTGRES_PRISMA_URL="postgres://default:GFMt8l3mNgZb@ep-yellow-wood-17532154-pooler.us-east-1.postgres.vercel-storage.com:5432/verceldb?pgbouncer=true&connect_timeout=15"
# POSTGRES_URL_NON_POOLING="postgres://default:GFMt8l3mNgZb@ep-yellow-wood-17532154.us-east-1.postgres.vercel-storage.com:5432/verceldb"
# POSTGRES_USER="default"
# POSTGRES_HOST="ep-yellow-wood-17532154-pooler.us-east-1.postgres.vercel-storage.com"
# POSTGRES_PASSWORD="GFMt8l3mNgZb"
# POSTGRES_DATABASE="verceldb"